<!DOCTYPE html>
{% load static %}
<html lang="fa">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-site-verification" content="bywtOIGZN_ia2kZEu5xKWIZjGaE14EAZbj9FDtFi39U" />
    <title>کارباما - قوانین و مقررات</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load bootstrap4 %}
    {% bootstrap_css %}
      <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/skew.css' %}">
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/about-us.css' %}">
      <script src="{% static 'assets/js/index.js' %}"></script>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-skew">
      <a class="navbar-brand rounded-circle unskew" href="/">
          <img src="{% static "assets/images/karbama-logo-70.png" %}" alt="karbama-logo">
      </a>
      <button class="navbar-toggler unskew" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item unskew">
            <a class="nav-link" href="/about-us/">درباره ما </a>
          </li>
          <li class="nav-item unskew">
            <a class="nav-link" href="/contact-us/">تماس با ما</a>
          </li>
            <li class="nav-item active unskew">
                <a class="nav-link" href="/terms-and-conditions/">قوانین و مقررات<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="container-fluid" role="main">


      <div class="container">

        <div class="row management" style="padding-bottom: 150px; padding-top: 150px;">
          <div class="col-md-12">
            <h2 class="management-heading">قوانین و مقررات</h2>
            <p>سایت و نرم‌افزارهای کارباما که توسط ساعیان سبز هرمزگان طراحی گردیده‌اند، کارباما تحت قوانین جمهوری اسلامی ایران فعالیت می‌کند؛ لذا تمام کاربران نیز موظف به رعایت قوانین جمهوری اسلامی ایران هستند. تحت شرایط  و مقررات زیر به کاربران خدمات ارائه می‌‌نمایند . مطالعه این شرایط و قوانین توسط کاربران الزامی است و این قوانین و مقررات به منزله یک قرارداد بین شرکت و کاربران می باشد. این قوانین شامل حال تمامی کاربرانی که از خدمات کارباما استفاده میکنند میشود. استفاده از خدمات کارباما به منزله قبول تمامی شرایط و هرگونه ادعا آتی در این خصوص بلااعتبار است.</p>
              <h4>خدمات</h4>
            <p>کارباما به طور مستقیم خدمات به کاربران ارا‍‍ئه مینماید.به اینگونه که کاربران بعد از ثبت سفارش نفراتی که به هر نحوه با کارباما طرف قرارداد هستن برای خدمات رسانی به کاربران اعزام می شوند.در این صورت کارباما واسطه بین مشتری و نفرات خدماتی نمی باشد و این کار رو به طور مستقیم انجام میدهد.</p>
              <h4>حساب کاربری</h4>
              <ol>
                  <li>فعالیت‌های حساب کاربری باید تماماً مطابق با قوانین جمهوری اسلامی ایران باشد.</li>
                  <li>تنها افرادی که 18 سال کامل را داشته باشند حق ایجاد حساب کاربری را دارا میباشند.</li>
                  <li>هر شخص (اعم از حقیقی و حقوقی) تنها مجاز به افتتاح یک حساب کاربری است.</li>
                  <li> در خصوص اشخاص حقوقی، فرد افتتاح‌کنندۀ حساب کاربری، باید نمایندۀ قانونی شرکت باشد.</li>
                  <li> مسئولیت صحت و دقت اطلاعات مندرج و عواقب ناشی از عدم رعایت این موضوع بر عهدۀ کاربر است.</li>
                  <li> هر کاربر با ثبت‌نام در کارباما و ایجاد حساب کاربری به نام خود صحت ارسال تمامی سفارشات و داده ارسالی را پذیرفته است و هر گونه انکار و اعتراض را از خویش سلب و فاقد اعتبار می نماید.</li>
                  <li> مسئولیت تمام فعالیت‌های حساب کاربری بر عهدۀ صاحب حساب کاربری است.</li>
                  <li> مسئولیت حفظ اطلاعات (نام کاربری و رمز عبور) بر عهده کاربران می باشد.</li>
                  <li> کابران حق انتقال حساب کاربری به شخص دیگری ندارند.</li>
              </ol>
              <h4>استفاده از کارباما</h4>
              <ol>
                  <li> استفاده از اپلیکیشن کارباما  ملزم به داشتن اینترنت میباشد، که مسئولبت تامین اینترنت و سخت افزارهای لازم و پرداخت هزینه مربوطه بر عهده کاربران میباشد.</li>
                  <li> کاربران متعهد به رعایت همه قوانین اسلامی ، شرعی و اخلاقی جمهوری اسلامی ایران از جمله رعایت حجاب در هنگام حضور نفرات اعزام شده جهت خدمت رسانی (یا همان سرویس دهندگان) به آنان، عدم آسیب رسانی به سرویس دهندگان میباشند.</li>
                  <li> در صورت نگهداری حیوان در منزل ، کاربران متعهد می باشند در صورت حضور سرویس دهندگان حیوانات را از سرویس دهندگان دور نگه دارند.</li>
                  <li> خدمات کارباما  ممکن است با مشارکت شرکت های دیگر در زمینه خدمات رسانی انجام گیرد.که کارباما هیچ کنترلی در این موارد ندارد.در این شرایط کاربر میپذیرد که استفاده از این خدمات قوانین ومقررات خاص خود را دارد و کارباما  هیچ مسئولیتی در این زمینه ندارد.</li>
                  <li> کاربران متعهد هستند در هنگام حضور سرویس دهندگان اسناد و مدارک و اشیا مهم و گرانبهای خود اعم از طلا ، ارز ، سکه وجواهرات را در معرض سرویس دهندگان قرار ندهند و بر نگهداری آنها دقت کنند و قبل از خروج سرویس دهندگان از منزل تمامی اموال خود را بررسی کنند. در صورت خروج سرویس دهندگان هر گونه ادعای آتی رد و فاقد اعتبار می باشد.</li>
                  <li> کاربران موظف می باشند در هنگام حضور سرویس دهندگان در حفظ و نگهداری تمامی اموال منزل خود تلاش نمایند.در صورت هرگونه آسیب به اموال منزل کاربران در صورت عدم تقصیر کاربران بعد از بررسی های لازمه خسارت از طریق شرکت و سرویس دهندگان مشترکا قابل جبران می باشد.</li>
                  <li> کاربران متعهد می باشند در هنگام حضور سرویس دهندگان از هر گونه استعمال دخانیات و مشروبات الکلی ، مواد مخدر خودداری کنند.</li>
                  <li> کاربران موظف می باشند در زمان و آدرس مشخص شده به هنگام ثبت سفارش در محل حضور داشته باشند درصورت عدم حضور تمامی خسارات وارده بر عهده کاربران می باشد.</li>
                  <li> در خواست خدمات در هنگام عدم حضور کابران(خود مشتری یا وکیل قانونی) در منزل ممنوع است. کارباما موظف است در صورت مشاهده و اطلاع سفارش کاربر  را لغو نماید.هر گونه تخلف و اتفاق در این مورد بر عهده کاربر می باشد و کاربر هرگونه ادعا و شکایت به مراجع قانونی را از خود سلب می نماید.</li>
                  <li> کاربر متعهد می‌گردد هیچ‌گونه فعالیتی که به حیثیت تجاری کارباما لطمه بزند، انجام ندهد. در صورت مشاهدۀ این‌گونه فعالیت، استادکار حق انجام پیگیری‌های قضایی لازمه را برای خود قائل است.</li>
              </ol>
              <h4>قطع سرویس</h4>
              <ol>
                  <li> کارباما  این اختیار را دارد در صورت مشاهده هرگونه تخلف توسط کاربران بدون اطلاع به آنان با توجه به اینکه کاربران موظف به مطالعه قوانین و مقررات می باشند ، حساب کاربری آنان را مسدود و از دسترس خارج نماید.</li>
              </ol>
              <h4>موارد فنی</h4>
              <ol>
                  <li> کاربران به هیچ عنوان حق دسترسی از هر روشی غیر قانونی به هیچ کدام از بخش های کارباما را ندارند.</li>
                  <li> کاربران حق هیچ گونه تلاشی در جهت دسترسی به سورس کد ها  و هر فعالیت مشابه ای ندارد.</li>
                  <li> هرگونه کپی از تمامی موارد اپلیکیشن قانونی نمی باشد.</li>
                  <li> تمامی موارد مذکور(موارد فنی) قابل شکایت و پیگیری از مراجع قانونی از طریق کارباما  می باشد.</li>
              </ol>
              <h4>مسئولیت کاربران</h4>
              <ol>
                  <li> مسئولیت تمامی اتفاقات و اقدامات انجام گرفته که مخالف قوانین موضوعه جمهوری اسلامی ایران از جمله قوانین مجازات اسلامی (ارتکاب جرم در هنگام انجام خدمات)و قوانین مدنی (ورود خسارت به اموال کاربران) بر عهده شخص متخلف(کاربر و یا سرویس دهندگان) می باشد . کارباما  هیچ گونه مسئولیتی در این زمینه نخواهد داشت و حق شکایت از نفر و یا نفرات متخلف نیز برای کارباما محفوظ می باشد.</li>
                  <li> کاربران موظف است قبل از حضور سرویس دهندگان در منزل شان از هویت شخص سرویس دهنده اطمینان لازم را کسب نمایند.</li>
                  <li> مسئولیت رعایت تمامی قوانین و مقررات جمهوری اسلامی ایران بر عهده کاربران می باشد.</li>
              </ol>
              <h4>مسئولیت کارباما</h4>
              <ol>
                  <li> کارباما  موظف است تمامی اطلاعات کاربران را نزد خود حفظ نمایندو هر گونه پخش و سوء استفاده از این موارد بر عهده کارباما  می باشد. این اطلاعات شامل نام و نام خانوادگی کاربران به همراه شماره تماس و آدرس های آنان می باشد.</li>
                  <li> کارباما  موظف است پاسخگوی 24 ساعته مشتریان باشد. و همواره تلاش در جهت کسب رضایت مشتریان نماید.</li>
                  <li> کارباما  موظف است تمامی خدمات و موارد درخواستی به هنگام ثبت سفارش از طریق اپلیکیشن را به نحو احسنت انجام دهد.</li>
              </ol>
              <h4>پرداخت هزینه ها</h4>
              <ol>
                  <li> پرداخت تمامی هزینه های انجام شده توسط کاربران در قبال خدماتی که دریافت کردند از طریق درگاه پرداخت اینترنتی ، کد USSD ، دستگاه های پوز و یا نقدی و یا هر روشی که متعاقبا از طرف کارباما اعلام میگردد قابل پرداخت می باشد.</li>
              </ol>
          </div>
        </div>
      </div>







        <!-- The Modal -->
<div class="modal fade" id="recommendationFormModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">فرم انتقادات و پیشنهادات</h4>
        <button type="button" class="close" data-dismiss="modal" style="margin: -1rem auto -1rem -1rem;">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div style="display: none;" class="alert alert-success" id="send_success">
            <button type="button" class="close" data-dismiss="alert">x</button>
            فرم ارسال شد.
            </div>
        <form id="recommendationForm">{% csrf_token %}
          <div class="form-group">
            <label for="name">نام و نام خانوادگی</label>
            <input required="required" name="name" type="text" class="form-control" id="name" placeholder="علی صادقی">
          </div>
          <div class="form-group">
            <label for="cell_num">شماره تماس</label>
            <input required="required" name="cell_num" type="tel" class="form-control" id="cell_num" placeholder="09121234567">
          </div>
          <div class="form-group">
            <label for="description">توضیحات</label>
            <textarea name="description" class="form-control" id="description" rows="3"></textarea>
          </div>
          <button type="button" id="recommendation_form_submit" class="btn btn-primary">ارسال</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div style="text-align: center;" class="alert alert-light" role="alert">
          اطلاعات پر شده در این فرم به مدیریت فرستاده می‌شود و نتیجه آن در اسرع وقت برای شما ارسال می‌گردد.
        </div>
      </div>

    </div>
  </div>
</div>


        <!-- Contact Us Modal -->
<div class="modal fade" id="contactUsModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">تماس با ما</h4>
        <button type="button" class="close" data-dismiss="modal" style="margin: -1rem auto -1rem -1rem;">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div>
              <p>تلفن پشتیبانی: 09389193592</p>
              <p>تلفن مدیریت: 09055422496</p>
          </div>
      </div>

    </div>
  </div>
</div>


      <!-- FOOTER -->
      <footer>
          <div class="row bg-skew" style="padding-top: 100px; padding-bottom: 150px;">
              <div class="col-lg-3 unskew">
                <h3>درخواست راهنمایی</h3>
                  <hr/>
                <ul>
                    <li><a href="/about-us/">درباره ما</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#contactUsModal">تماس با ما</a></li>
                    <li><a href="/terms-and-conditions/">قوانین و مقررات</a></li>
                </ul>
            </div><!-- /.col-lg-4 -->
              <div class="col-lg-3 unskew">
                <h3>انتقادات و پیشنهادات</h3>
                  <hr/>
                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#recommendationFormModal">انتقادات و پیشنهادات</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#jobFormModal">همکاری با کارباما</a></li>
                </ul>
            </div><!-- /.col-lg-4 -->
              <div class="col-lg-3 unskew">
                <h3>خبرنامه</h3>
                  <hr/>
                <p>با عضویت در خانواده بزرگ کارباما از اخبار ، تخفیف ها و پیشنهادات ویژه ما با خبر شوید. </p>
                  <form class="form-group" id="newsletter-form" action="subscribe">
                    <input class="form-control" type="text" placeholder="شماره موبایل خود را وارد کنید">
                    <input style="float: left;" class="btn btn-info" type="submit" value="ثبت" id="submit-butt">
                </form>
            </div><!-- /.col-lg-4 -->
              <div class="col-lg-3 unskew">
                <ul>
                    <li>دفتر مرکزی: بندرعباس،آزادشهر،کوچه جهادگران 8 ، ساختمان پریا</li>
                    <hr/>
                    <li>پشتیبانی: 09389193592</li>
                    <hr/>
                    <li>مدیریت: 09055422496</li>
                    <hr/>
                    <div id="social-butts">
                        <a href="emailto:info@karbamabnd.com"><i class="far fa-envelope"></i></a>
                        <a href="https://www.instagram.com/karbamabnd/"><i class="fab fa-instagram"></i></a>
                    </div>
                </ul>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
          <div class="row" id="subfoot">
              <div class="col-lg-12">
                  <p>کلیه حقوق این سایت به شرکت کارباما تعلق دارد</p>
              </div>
          </div>
      </footer>
    </main>
  </body>
</html>
